@charset "UTF-8";


header {
    background-color: rgba(27, 99, 128, 0.9);
    text-align: center;
    font-family: 'Open Sans', "PT Sans Narrow";
    height: 70px;
    position : relative;
    margin: 0 !important;
    padding-left : 15px;
    z-index : 1000 !important;
    /* margin-bottom : 2px !important; */
    box-shadow : 0px 5px 5px rgba(0, 0, 0, 0.5);
}

header .navtop {
    vertical-align: middle;
}

header a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 0 1px rgba(0, 0, 0, 1);
    font-size: 1.2em;
    color: #d4d6d8;
}
#title{

    width: 350px !important;
    height: 180px;
    overflow : hidden;
    padding : 0 !important;
    box-shadow : 5px 5px 5px rgba(0, 0, 0, 0.5);
    max-width : 600px;
    background-color: white;
}

#title img {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width : 100%;
    max-width : 400px;
}

header a:hover {
    text-decoration: none;
    color: white;
    text-shadow: 0px 0 1px rgba(255, 255, 255, 0);
}

#top {
    height : 0;
}


header li,
header .col,
header ul {
    padding: 0px;
    position: relative;
}

header ul {
    margin-top: 35px !important;
    transform: translateY(-50%);
}

header .icon {
    display: none;
}
.navtopactive{
    color : white !important;
}



@media screen and (max-width: 850px) {
    #title {
        width: 260px !important;
    }

    #title{
        flex: 0 0 33.333333%;
    }

    #top{
        flex: 0 0 66.666667%;
    }
}


@media screen and (max-width: 600px) {
    header {
        height: 220px;
        margin-top : 0;
        
        transform: rotate(0deg);
    }



     header {
            padding : 0;
        }
    #title {
        width: 100% !important;
        height : 100%;
        background-color : white;
        flex: 0 0 100%;
    }

    #top{
        flex: 0 0 100%;
    }

    #title img{
        width : 80% ;
    }

    #top, #title{
        padding : 0;
    }
    header .navtop li {
        display: none;
    }
    header .navtop ul {
        text-align: center;
    }
    header .icon {
        display: block;
        font-size: 2em;
        color : black;
        margin-top : -76px;
        left : 40%;
        height : 40px;
        z-index : 20;
    }
    header .navtop.responsive {     
        margin : auto;
        margin-top : 76px;
    }
    
    header .navtop.responsive li {
        display: block;
        background-color : rgba(0, 0, 0, 0.6) !important;
    }

    #top_ul{
        margin : auto;
        
    }

    
}





